.tasksContainer {
    padding: 2em 4em;
    

}
.list {
    width: 70%;
    margin: auto;
    padding-left: 0;
    
}
.tasks {
    padding: 15px;
    list-style-type: none;
    /* border: 1px solid black; */
    margin-bottom: 10px;
    position: relative;
    background-color: white;
}
font-awesome-icon {
    color: black;
    width: 50px;
    height: 50px;
}
.btnDeleteTask {
    position: absolute;
    top: 25%;
    right: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.btnEditTask {
    position: absolute;
    top: 25%;
    right: 25px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}